  .editor{
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
   /*box-shadow: inset 0px 1px 8px -3px #ABABAB;*/
    box-shadow: rgba(118, 143, 255, 0.1) 0px 16px 24px 0px;
    background: #fefefe;
    margin-top: 15px;

   
 }

.format-toolbar{
  display: flex;
border-bottom: solid 1.7px rgba(199, 198, 255, 0.15);
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.tooltip-icon-button{
  border: 0;
  cursor: pointer;
}
