.fondo {
    background: linear-gradient(to right, #0000, #fceabb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
}

.logoo {
    height: 11vh;
    margin: 16px;
    cursor: pointer;
  }

  .logoo2 {
    height: 20vh;
    margin: 16px;
    cursor: pointer;    
  }