.ajustes{
    /*float: right;*/
    margin-right: 14px;
    display: flex;
  flex-flow: row wrap;
  /* This aligns items to the end line on main-axis */
  justify-content: flex-end;
  align-items: center;
  padding-top: 14px;
}