
.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color .3s;
  }
 
  
 .logoo {
    height: 11vh;
    margin: 16px;
    cursor: pointer;
  }
  
  .sider{
    min-height: 100vh;
         }

  .header{
    color: 'rgba(0, 0, 0, 0.65)';
    padding: 0 ;
  }

.scroll{
 position: 'fixed' ;
  overflow-y:'overlay' ;
}

.ant-layout-sider-zero-width-trigger{
  top: 15px;
}