
  .DraftEditor-root{
    box-sizing: border-box;
    border: 1px solid #ddd;
    cursor: text;
    padding: 16px;
    border-radius: 2px;
    margin-bottom: 2em;
    box-shadow: inset 0px 1px 8px -3px #ABABAB;
    background: #fefefe;
    
 }
  button{
   background: #999;
   color: #fff;
   border: none;
   padding: .5em;
   cursor: pointer;
   margin-bottom: 1em;
   margin-right: 1em;
   border-radius: .2em;
 }
  button:hover{
   background: #888;
 }