.login-form {
  position: relative;
  border-radius: 10px;
  top: 30%;
  left: 50%;
  margin: 0 -160px;
  width: 320px;
  padding: 36px;
 box-shadow: inset 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 11px 0px rgba(255,255,255);

}

.login-form-button {
  width: 100%;
}

.logo {
  text-align: center;
  cursor: pointer;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

}

img {
  width: 200px;
  margin-right: 8px;
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.intro{
  height: 100vh;
  width: 100%;
  margin: auto;
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('../../photo.jpg') ;
  display: table;
  top: 0;
  background-size: cover; 
}

.intro .inner{
  display: table-cell;
  vertical-align: middle;
  width: 100vh;
  max-width: none;
}

.content{
  margin: 0 auto;
  text-align: center;
}

h1{
  color: white;
  font-size: 4em;
  padding-bottom: 15vh;
  font-weight: 700;
}

@media screen and (max-width: 768px){
  h1{
    font-size: 150%;
    margin-top: 40px;
  }
}

 h2{
  text-align: center;
  font-size: 2em;
  padding: 20px 0px 20px;
  color: #CB4900;
}

p{
  padding: 20px 20px 20px 20px;
  text-align: justify;
  font-size: 1.5em;
}

.definicion{
  background-color: rgb(241,242,247);
}

.card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 50px;
}

.card .imgDef{
  width: 100%;
  height: 250px;
  
}

h3{
  text-align: center;
  background-color: #CB4900;  
  color: white;
}

.footer{
  background-color: #000;
}

.lista{
  color: white;
}

h4, h5{
  color: white;
}
